{% extends 'base.html' %}
{% load static %}
{% block page_main_body %}
    <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Dane uzytkownika:<br />
            Imie: {{ user.first_name }} <br />
            Nazwisko: {{ user.last_name }} <br />
            Email: {{ user.email }} <br />
          </h1>
        </div>
    </div>

    <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Lista przekazanych darow:<br />
            Ilosc workow w sumie: {{ donated_bags }} <br />
            Organizacje, ktorym przekazano dary: {% for donation in donations %} {{ donation.institution.name }}, {% endfor %}<br />
            Kategorie darow: {% for donation in donations %}{% for category in donation.categories.all %} {{ category.name }}, {% endfor %}{% endfor %}<br />
            Data odbioru: {% for donation in donations %} {{ donation.pick_up_date }}, {{ donation.pick_up_time }} {% endfor %}<br />
          </h1>
        </div>
    </div>
{% endblock %}